.title-section{
    margin: auto;
    width: 60%;
    color: aliceblue;
    white-space: pre-wrap;
}
.title-section h1{
    font-size: 5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title-section h1 .first-name{
    background: linear-gradient(to left, #34EDF3 , #F715AB);
    text-shadow: #34EDF3,
        #F715AB;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.title-section h1 .last-name{
    background: linear-gradient(to left, #B5179E, #7209B7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent
}

