
.intro-frame{
    position:relative;
    background-color: rgba(7, 7, 13, .76);
    border-radius: 15px;
    border: 1px solid white;
    min-width: 500px;
    min-height: 350px;
    width: 40%;
    height: 95%
}
.intro-frame .intro-topbar{
    display: flex;
    color: aliceblue;
    font-family:'Courier New', Courier, monospace;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid white;
}

