
.intro-frame{
    display: flexbox;
    position:relative;
    background-color: rgba(7, 7, 13, .76);
    border-radius: 15px;
    border: 1px solid white;
    box-shadow: 8px 5px 20px rgb(1, 12, 20);
    min-width: 500px;
    min-height: 350px;
    width: 40%;
    height: 95%
}
.intro-frame .intro-topbar{
    display: flex;
    height: 10%;
    color: aliceblue;
    font-family:'Courier New', Courier, monospace;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid white;
}

.intro-frame .intro-topbar .rec-section{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
}

.red-dot{
    width: 10px;
    height: 10px;
    background-image: radial-gradient(circle at center,rgb(249, 131, 131) 0%, rgb(156, 29, 29) 90%);
    border-radius: 100%;
    display: inline-block;
    box-shadow: 0px 0px 10px rgba(250, 31, 31, 0.767), 0px 0px 10px rgba(246, 224, 224, 0.74);
}

.intro-frame .intro-content{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "box-1 box-1"
    "box-1 box-1"
    "box-2 box-3"
    "box-4 box-4" 
    ;
    height: 90%;
    background-color: aqua;
    gap: 1rem;

}
.grid-element{
    display: flex;
    background-color: bisque;
    align-items: center;
    justify-content: center;

}

.intro-frame .intro-content .grid-element img{
    height: 300px;
    width: 300px;
}



