

.navbar{
    background-color: rgba(7, 7, 12, .72);
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar a{
    color: rgba(255, 247, 239, .88);
    text-decoration: none;
}

.navbar .Logo_Title{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.navbar .Logo_Title img{
    height: 70px;
    width: 90px;
}

.navbar .Logo_Title span{
    padding: 0;
    margin: 0;
    gap: 1rem;
    text-align: center;
}