

.navbar{
    background-color: rgba(7, 7, 12, .72);
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 5px 20px rgb(15, 48, 54), 1px 5px 20px rgb(84, 23, 81);
}

.navbar ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar a{
    color: rgba(255, 247, 239, .88);
    text-decoration: none;
}

.navbar .Logo_Title{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.navbar .Logo_Title img{
    height: 70px;
    width: 90px;
}

.navbar .Logo_Title span{
    padding: 0;
    margin: 0;
    gap: 1rem;
    text-align: center;
}

.navbar .content{
    background-color: rgba(23, 23, 40, 0.72);
    margin-top: 10px;
    min-width: 108px;
    min-height: 80px;
    border-radius: 18px;
    border: 0.5px solid rgba(206, 230, 251, 0.704);
    position: absolute;
    display: none;
}

.navbar .content a{
    display: block;
    align-items: center;
    padding: 12px 13px;
    text-align: center;
}
li{
    padding: 10px 10px;
}

li:hover{
    background-color: rgb(34, 35, 35);
    border-radius: 20px;
}

li:hover .content{
    display: block;
}